* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "Poppins";
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200vh;
}

nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: #ede0d4;
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 10px;
  z-index: 3;
  position: fixed;
}

.navBrand {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav .navBrand .navLogo {
  width: 30px;
}

nav .navBrand .navTitle {
  color: #7f5539;
  font-size: 20px;
  font-weight: bold;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav #navToggle {
  display: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50%;
  transition: background ease-in-out 0.2s;
  width: 40px;
  height: 40px;
  color: #7f5539;
}

nav #navToggle:hover {
  background: #e6ccb2;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  transition: background ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
  box-shadow: none;
}

nav ul li:hover {
  box-shadow: inset #00000007 0 0 5px;
  background: #e6ccb2;
}

nav ul li a {
  text-decoration: none;
  color: #7f5539;
  font-size: 12px;
  font-weight: bold;
}

@media screen and (max-width: 550px) {
  nav ul {
    display: none;
    background: #ede0d4;
  }

  nav #navToggle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  nav ul.toggled {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 70px;
    align-items: end;
    border-radius: 12px;
    box-shadow: #00000049 0 0 10px;
    padding: 20px;
  }

  nav ul.toggled li {
    display: block;
    width: 100%;
    text-align: right;
  }
}

@media screen and (max-width: 350px) {
  nav {
    height: 40px;
  }

  nav .navBrand .navLogo {
    width: 20px;
  }

  nav .navBrand {
    gap: 10px;
  }

  nav .navBrand .navTitle {
    font-size: 14px;
  }

  nav #navToggle {
    font-size: 12px;
  }

  nav ul.toggled {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 50px;
    align-items: end;
    border-radius: 12px;
    box-shadow: #00000049 0 0 10px;
    padding: 10px;
  }

  nav ul.toggled {
    gap: 5px;
  }

  nav ul.toggled li a {
    font-size: 10px;
  }

  nav ul.toggled li {
    display: block;
    width: 100%;
    text-align: right;
    padding: 5px;
  }

  #main .content {
    top: 40px;
  }
}

#main {
  width: 100%;
  height: 100vh;
  background: #ddb892;
  display: flex;
  z-index: 0;
}

#main .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
  filter: blur(5px);
  z-index: 1;
}
