:root {
  --main: #000013;
  --text: #f2f4ff;
  --cards: #0a0a33;
  --hover: #2de2e6;
  --button: #6c63ff;
  --alert: #ff4fa3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "Poppins";
}

body {
  background-color: #000013;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200vh;
}

nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: var(--main);
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 10px;
  z-index: 3;
  position: fixed;
}

.navBrand {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav .navBrand .navLogo {
  width: 30px;
}

nav .navBrand .navTitle {
  color: var(--text);
  font-size: 20px;
  font-weight: bold;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav #navToggle {
  display: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50%;
  transition: background ease-in-out 0.2s;
  width: 40px;
  height: 40px;
  color: var(--text);
}

nav #navToggle:hover {
  background: var(--hover);
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  transition: background ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
  box-shadow: none;
}

nav ul li:hover {
  box-shadow: inset #0000006d 0 0 5px;
  background: var(--hover);
  color: var(--main);
}
nav ul li:hover a {
  color: var(--main);
}

nav ul li a {
  transition: color ease-in-out 0.2s;
  text-decoration: none;
  color: var(--text);
  font-size: 12px;
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  nav ul {
    display: none;
    background: var(--main);
  }

  nav #navToggle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  nav ul.toggled {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 70px;
    align-items: end;
    border-radius: 12px;
    box-shadow: #00000049 0 0 10px;
    padding: 20px;
  }

  nav ul.toggled li {
    display: block;
    width: 100%;
    text-align: right;
  }
}

@media screen and (max-width: 350px) {
  nav {
    height: 40px;
  }

  nav .navBrand .navLogo {
    width: 20px;
  }

  nav .navBrand {
    gap: 10px;
  }

  nav .navBrand .navTitle {
    font-size: 14px;
  }

  nav #navToggle {
    font-size: 12px;
  }

  nav ul.toggled {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 50px;
    align-items: end;
    border-radius: 12px;
    box-shadow: #00000049 0 0 10px;
    padding: 10px;
  }

  nav ul.toggled {
    gap: 5px;
  }

  nav ul.toggled li a {
    font-size: 10px;
  }

  nav ul.toggled li {
    display: block;
    width: 100%;
    text-align: right;
    padding: 5px;
  }

  #main .content {
    top: 40px;
  }
}

section {
  display: flex;
  z-index: 0;
  width: 100%;
  height: 100vh;
  background: var(--main);
}

#main .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(5px);
  z-index: 1;
  opacity: 0.1;
}

.about h1{
  color: white;
}